@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --theme-text-soft: #757575;
  --theme-text-softer: #676767;
  --theme-text-harder: #fff;
  --theme-text-hard: #e6e6e6;
  --theme-text-softest: #9da090;
  --theme-bg-hard: #363735;
  --theme-accent-harder: #daf765;
  --theme-bg-soft: #252525;
  --theme-bg-softer: #2f302e;
  --theme-border: #5c5e5b;
  --theme-accent-harder: #daf765;
  --theme-accent-hard: #bedd44;
  --theme-accent-softer: #daf765;
  --theme-accent-softest: #a2a2a2;
  --theme-accent-soft: #515548;
  --theme-socials-dis: #5662f6;
  --theme-socials-tg: #2197d3;
  --theme-error: #f06868;
  --theme-button-disabled: #a2a2a2;
  --theme-message: #434442;
  --theme-scroll-thumb: #6767677a;
  --theme-checkbox: #d7d7d780;
  --theme-success: #30d522;
  --theme-fail: #e02d2d;
  --bg-color: #2f2f2d;
}

body {
  background: var(--bg-color);
  font-family: "Inter", sans-serif;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 50px;
}
