<footer class="footer">
  <div class="container">
    <p>Разработано командой AROKEN.RU</p>
  </div>
</footer>

<style scoped>
  footer {
    margin-top: 3.75rem;
    padding: 2.5rem 0;
    padding-right: 0px;
    color: var(--theme-text-hard);
    background: var(--theme-bg-soft);
    font-size: 0.875rem;
    line-height: 1.3;
    padding-right: var(--padding-instead-scrollbar);
    margin-right: calc(var(--padding-instead-scrollbar) * -1);
  }

</style>
