---
import { Image } from "astro:assets";
import LogoIcon from "../assets/icons/logo.svg";
import BellIcon from "../assets/icons/bell.svg";
import ArokenAvatar from "../assets/img/aroken-avatar.jpg";
---

<header>
  <LogoIcon />
  <div class="nav">
    <!-- УВЕДОМЛЕНИЯ -->
    <div class="notification">
      <button class="notification-btn" data-notification-btn>
        <BellIcon class="notification-icon" width={28} height={28} />
      </button>

      <div class="notification-dropdown">
        <div class="notification-dropdown-header">
          <h3 class="notification-dropdown-title">Непросмотренные</h3>
          <ul>
            <li class="notification-item">
              <h5 class="notification-title">
                Новый ответ от куратора в домашке! (урок "Первые строчки кода")
              </h5>
              <a href="#" class="notification-link">Перейти к уроку</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- АВАТАР -->
    <div class="avatar-wrapper">
      <div class="avatar-card">
        <div class="avatar-front">
          <Image src={ArokenAvatar} class="avatar" alt="Aroken avatar" />
        </div>
        <div class="avatar-back">
          <span>01100001</span>
        </div>
      </div>
    </div>
  </div>
</header>

<style scoped>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8125rem 0 1.25rem;
    border-bottom: 1px solid var(--theme-border);
    margin-bottom: 8.5rem;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .notification {
    position: relative;
  }
  .notification-btn::after {
    content: "!!";
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--theme-accent-softer);
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    font-size: 0.625rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-text-hard);
  }

  /* КНОПКА */
  .notification-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }

  .notification-icon {
    color: #fff;
    transition: all 0.3s;
  }
  .notification-btn:hover .notification-icon {
    color: var(--theme-accent-softer);
  }

  .notification-dropdown {
    position: absolute;
    top: calc(100% + 0.625rem);
    right: 0;
    z-index: 2;
    border-radius: 0.5rem;
    border: 1px solid var(--theme-border);
    background: var(--theme-bg-hard);
    padding: 1.25rem;
    min-width: 34.5rem;
    transition:
      translate 0.3s,
      opacity 0.3s,
      scale 0.3s,
      visibility 0.3s;
    translate: 0 -10%;
    transform-origin: right top;
    opacity: 0;
    scale: 0.2 0.5;
    visibility: hidden;
    box-shadow: 0 0 20px 3px #0003;
  }

  .notification-dropdown--active {
    translate: 0;
    opacity: 1;
    scale: 1 1;
    visibility: visible;
  }

  .notification-dropdown-title {
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    color: var(--theme-text-softer);
  }

  .notification-title {
    color: var(--theme-text-hard);
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    line-height: 1.4;
  }

  .notification-link {
    color: var(--theme-text-softest);
    font-size: 0.875rem;
    text-decoration-line: underline;
    transition: color 0.3s;
  }

  .avatar-wrapper {
    width: 60px;
    height: 60px;
    perspective: 1000px;
  }
  .avatar-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
  }
  .avatar-wrapper:hover .avatar-card {
    transform: rotateY(180deg);
  }

  .avatar-front,
  .avatar-back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
  }
  .avatar-front .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .avatar-back {
    background: var(--theme-bg-hard);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    font-size: 0.6rem;
    font-weight: 600;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.querySelector("[data-notification-btn]");
    const dropdown = document.querySelector(".notification-dropdown");
    if (!btn || !dropdown) return;

    btn.addEventListener("click", () => {
      dropdown.classList.toggle("notification-dropdown--active");
    });
  });
</script>
